page-find {
    .msg-0{
        color: #B6342C;
    }
    .msg-1{
        color:  #4CAAB2;
    }
    .msg-3{
        color: #5B5B5B;
    }
    .bj{
        // background: #FFF;
        background-color:rgba(255,255,255,0.95);
    }
}
